:root {
  --figma-ui3-bg: #2c2c2cff;
  --figma-ui3-bg-brand: #0c8ce9ff;
  --figma-ui3-bg-brand-hover: #0a6dc2ff;
  --figma-ui3-bg-brand-pressed: #0a6dc2ff;
  --figma-ui3-bg-brand-secondary: #105cadff;
  --figma-ui3-bg-brand-tertiary: #394360ff;
  --figma-ui3-bg-component: #8a38f5ff;
  --figma-ui3-bg-component-hover: #7a2ed6ff;
  --figma-ui3-bg-component-pressed: #7a2ed6ff;
  --figma-ui3-bg-component-secondary: #652ca8ff;
  --figma-ui3-bg-component-tertiary: #473956ff;
  --figma-ui3-bg-danger: #e03e1aff;
  --figma-ui3-bg-danger-hover: #c4381cff;
  --figma-ui3-bg-danger-pressed: #c4381cff;
  --figma-ui3-bg-danger-secondary: #963323ff;
  --figma-ui3-bg-danger-tertiary: #60332aff;
  --figma-ui3-bg-disabled: #757575ff;
  --figma-ui3-bg-disabled-secondary: #b3b3b3ff;
  --figma-ui3-bg-hover: #383838ff;
  --figma-ui3-bg-inverse: #ffffffff;
  --figma-ui3-bg-onselected: #667799ff;
  --figma-ui3-bg-onselected-hover: #667799ff;
  --figma-ui3-bg-onselected-pressed: #667799ff;
  --figma-ui3-bg-pressed: #383838ff;
  --figma-ui3-bg-secondary: #383838ff;
  --figma-ui3-bg-selected: #4a5878ff;
  --figma-ui3-bg-selected-hover: #536383ff;
  --figma-ui3-bg-selected-pressed: #536383ff;
  --figma-ui3-bg-selected-secondary: #394360ff;
  --figma-ui3-bg-selected-strong: #0c8ce9ff;
  --figma-ui3-bg-selected-tertiary: #394360ff;
  --figma-ui3-bg-success: #198f51ff;
  --figma-ui3-bg-success-hover: #078348ff;
  --figma-ui3-bg-success-pressed: #078348ff;
  --figma-ui3-bg-success-secondary: #0a5c35ff;
  --figma-ui3-bg-success-tertiary: #476656ff;
  --figma-ui3-bg-tertiary: #444444ff;
  --figma-ui3-bg-warning: #f3c11bff;
  --figma-ui3-bg-warning-hover: #f2b50dff;
  --figma-ui3-bg-warning-pressed: #f2b50dff;
  --figma-ui3-bg-warning-secondary: #e4a711ff;
  --figma-ui3-bg-warning-tertiary: #5c4100ff;
  --figma-ui3-border: #444444ff;
  --figma-ui3-border-brand: #105cadff;
  --figma-ui3-border-brand-strong: #7cc4f8ff;
  --figma-ui3-border-component: #652ca8ff;
  --figma-ui3-border-component-hover: #8a38f5ff;
  --figma-ui3-border-component-strong: #d6b6fbff;
  --figma-ui3-border-danger: #963323ff;
  --figma-ui3-border-danger-strong: #fca397ff;
  --figma-ui3-border-disabled: #444444ff;
  --figma-ui3-border-disabled-strong: #ffffff66;
  --figma-ui3-border-onbrand: #0a6dc2ff;
  --figma-ui3-border-onbrand-strong: #ffffffff;
  --figma-ui3-border-oncomponent: #7a2ed6ff;
  --figma-ui3-border-oncomponent-strong: #ffffffff;
  --figma-ui3-border-ondanger: #c4381cff;
  --figma-ui3-border-ondanger-strong: #ffffffff;
  --figma-ui3-border-onselected: #667799ff;
  --figma-ui3-border-onselected-strong: #ffffffe6;
  --figma-ui3-border-onsuccess: #078348ff;
  --figma-ui3-border-onsuccess-strong: #ffffffff;
  --figma-ui3-border-onwarning: #e4a711ff;
  --figma-ui3-border-onwarning-strong: #000000e6;
  --figma-ui3-border-selected: #0c8ce9ff;
  --figma-ui3-border-selected-strong: #7cc4f8ff;
  --figma-ui3-border-strong: #ffffffe6;
  --figma-ui3-border-success: #0a5c35ff;
  --figma-ui3-border-success-strong: #79d297ff;
  --figma-ui3-border-warning: #925711ff;
  --figma-ui3-border-warning-strong: #f7d15fff;
  --figma-ui3-icon: #ffffffff;
  --figma-ui3-icon-brand: #7cc4f8ff;
  --figma-ui3-icon-brand-pressed: #0c8ce9ff;
  --figma-ui3-icon-brand-secondary: #0a6dc2ff;
  --figma-ui3-icon-brand-tertiary: #394360ff;
  --figma-ui3-icon-component: #d1a8ffff;
  --figma-ui3-icon-component-pressed: #d6b6fbff;
  --figma-ui3-icon-component-secondary: #7f699bff;
  --figma-ui3-icon-component-tertiary: #7f699bff;
  --figma-ui3-icon-danger: #e03e1aff;
  --figma-ui3-icon-danger-hover: #fbbcb6ff;
  --figma-ui3-icon-danger-pressed: #fbbcb6ff;
  --figma-ui3-icon-danger-secondary: #e03e1aff;
  --figma-ui3-icon-danger-secondary-hover: #e03e1aff;
  --figma-ui3-icon-danger-tertiary: #e03e1aff;
  --figma-ui3-icon-disabled: #ffffff66;
  --figma-ui3-icon-hover: #ffffffff;
  --figma-ui3-icon-onbrand: #ffffffff;
  --figma-ui3-icon-onbrand-secondary: #ffffffcc;
  --figma-ui3-icon-onbrand-tertiary: #ffffff66;
  --figma-ui3-icon-oncomponent: #ffffffff;
  --figma-ui3-icon-oncomponent-secondary: #ffffffcc;
  --figma-ui3-icon-oncomponent-tertiary: #ffffff66;
  --figma-ui3-icon-ondanger: #ffffffff;
  --figma-ui3-icon-ondanger-secondary: #ffffffcc;
  --figma-ui3-icon-ondanger-tertiary: #ffffff66;
  --figma-ui3-icon-ondisabled: #2c2c2cff;
  --figma-ui3-icon-oninverse: #000000e6;
  --figma-ui3-icon-onselected: #ffffffff;
  --figma-ui3-icon-onselected-secondary: #ffffffb3;
  --figma-ui3-icon-onselected-strong: #ffffffff;
  --figma-ui3-icon-onselected-tertiary: #ffffff66;
  --figma-ui3-icon-onsuccess: #ffffffff;
  --figma-ui3-icon-onsuccess-secondary: #ffffffcc;
  --figma-ui3-icon-onsuccess-tertiary: #ffffff66;
  --figma-ui3-icon-onwarning: #000000e6;
  --figma-ui3-icon-onwarning-secondary: #00000080;
  --figma-ui3-icon-onwarning-tertiary: #0000004d;
  --figma-ui3-icon-pressed: #0a6dc2ff;
  --figma-ui3-icon-secondary: #ffffffb3;
  --figma-ui3-icon-secondary-hover: #ffffffff;
  --figma-ui3-icon-selected: #7cc4f8ff;
  --figma-ui3-icon-selected-secondary: #7cc4f8ff;
  --figma-ui3-icon-selected-tertiary: #7cc4f8ff;
  --figma-ui3-icon-success: #198f51ff;
  --figma-ui3-icon-success-pressed: #a1e8b9ff;
  --figma-ui3-icon-success-secondary: #198f51ff;
  --figma-ui3-icon-success-tertiary: #198f51ff;
  --figma-ui3-icon-tertiary: #ffffff66;
  --figma-ui3-icon-tertiary-hover: #ffffffff;
  --figma-ui3-icon-warning: #f3c11bff;
  --figma-ui3-icon-warning-pressed: #f7d15fff;
  --figma-ui3-icon-warning-secondary: #f3c11bff;
  --figma-ui3-icon-warning-tertiary: #f3c11bff;
  --figma-ui3-text: #ffffffff;
  --figma-ui3-text-brand: #7cc4f8ff;
  --figma-ui3-text-brand-secondary: #7cc4f8ff;
  --figma-ui3-text-brand-tertiary: #7cc4f8ff;
  --figma-ui3-text-component: #d1a8ffff;
  --figma-ui3-text-component-pressed: #d6b6fbff;
  --figma-ui3-text-component-secondary: #7f699bff;
  --figma-ui3-text-component-tertiary: #7f699bff;
  --figma-ui3-text-danger: #fca397ff;
  --figma-ui3-text-danger-secondary: #fca397ff;
  --figma-ui3-text-danger-tertiary: #fca397ff;
  --figma-ui3-text-disabled: #ffffff66;
  --figma-ui3-text-hover: #ffffffff;
  --figma-ui3-text-onbrand: #ffffffff;
  --figma-ui3-text-onbrand-secondary: #ffffffcc;
  --figma-ui3-text-onbrand-tertiary: #ffffff66;
  --figma-ui3-text-oncomponent: #ffffffff;
  --figma-ui3-text-oncomponent-secondary: #ffffffcc;
  --figma-ui3-text-oncomponent-tertiary: #ffffff66;
  --figma-ui3-text-ondanger: #ffffffff;
  --figma-ui3-text-ondanger-secondary: #ffffffcc;
  --figma-ui3-text-ondanger-tertiary: #ffffff66;
  --figma-ui3-text-ondisabled: #2c2c2cff;
  --figma-ui3-text-oninverse: #000000e6;
  --figma-ui3-text-onselected: #ffffffe6;
  --figma-ui3-text-onselected-secondary: #ffffffb3;
  --figma-ui3-text-onselected-strong: #ffffffff;
  --figma-ui3-text-onselected-tertiary: #ffffff66;
  --figma-ui3-text-onsuccess: #ffffffff;
  --figma-ui3-text-onsuccess-secondary: #ffffffcc;
  --figma-ui3-text-onsuccess-tertiary: #ffffff66;
  --figma-ui3-text-onwarning: #000000e6;
  --figma-ui3-text-onwarning-secondary: #00000080;
  --figma-ui3-text-onwarning-tertiary: #0000004d;
  --figma-ui3-text-secondary: #ffffffb3;
  --figma-ui3-text-secondary-hover: #ffffffff;
  --figma-ui3-text-selected: #7cc4f8ff;
  --figma-ui3-text-selected-secondary: #7cc4f8ff;
  --figma-ui3-text-selected-tertiary: #7cc4f8ff;
  --figma-ui3-text-success: #79d297ff;
  --figma-ui3-text-success-secondary: #79d297ff;
  --figma-ui3-text-success-tertiary: #79d297ff;
  --figma-ui3-text-tertiary: #ffffff66;
  --figma-ui3-text-tertiary-hover: #ffffffff;
  --figma-ui3-text-warning: #f7d15fff;
  --figma-ui3-text-warning-secondary: #f7d15fff;
  --figma-ui3-text-warning-tertiary: #f7d15fff;
  --uix-design-system-spacing-sp-1: 4px;
  --uix-design-system-spacing-sp-2: 8px;
  --uix-design-system-spacing-sp-3: 12px;
  --uix-design-system-spacing-sp-4: 16px;
  --uix-design-system-spacing-sp-5: 20px;
  --uix-design-system-spacing-sp-6: 24px;
  --uix-design-system-spacing-sp-7: 28px;
  --uix-design-system-spacing-sp-8: 32px;
  --uix-design-system-spacing-sp-9: 36px;
  --uix-design-system-spacing-sp-10: 40px;
  --uix-design-system-spacing-sp-11: 44px;
  --uix-design-system-radius-rd-0: 0;
  --uix-design-system-radius-rd-1: 4px;
  --uix-design-system-radius-rd-2: 8px;
  --uix-design-system-radius-rd-3: 12px;
  --uix-design-system-radius-rd-4: 16px;
  --uix-design-system-radius-rd-5: 20px;
  --uix-design-system-radius-rd-6: 24px;
  --uix-design-system-radius-rd-7: 28px;
  --uix-design-system-radius-rd-8: 32px;
  --uix-design-system-radius-rd-9: 36px;
  --uix-design-system-radius-rd-10: 40px;
  --uix-design-system-radius-rd-11: 44px;
  --typography-heading-1-fontsize: 36px;
  --typography-heading-1-textdecoration: none;
  --typography-heading-1-fontfamily: Comic Sans MS;
  --typography-heading-1-fontweight: 400;
  --typography-heading-1-fontstyle: normal;
  --typography-heading-1-fontstretch: normal;
  --typography-heading-1-letterspacing: 0;
  --typography-heading-1-lineheight: 74.4px;
  --typography-heading-1-paragraphindent: 0;
  --typography-heading-1-paragraphspacing: 0;
  --typography-heading-1-textcase: none;
  --typography-heading-2-fontsize: 30px;
  --typography-heading-2-textdecoration: none;
  --typography-heading-2-fontfamily: Comic Sans MS;
  --typography-heading-2-fontweight: 400;
  --typography-heading-2-fontstyle: normal;
  --typography-heading-2-fontstretch: normal;
  --typography-heading-2-letterspacing: 0;
  --typography-heading-2-lineheight: 62.4px;
  --typography-heading-2-paragraphindent: 0;
  --typography-heading-2-paragraphspacing: 0;
  --typography-heading-2-textcase: none;
  --typography-heading-3-fontsize: 26px;
  --typography-heading-3-textdecoration: none;
  --typography-heading-3-fontfamily: Comic Sans MS;
  --typography-heading-3-fontweight: 400;
  --typography-heading-3-fontstyle: normal;
  --typography-heading-3-fontstretch: normal;
  --typography-heading-3-letterspacing: 0;
  --typography-heading-3-lineheight: 51.6px;
  --typography-heading-3-paragraphindent: 0;
  --typography-heading-3-paragraphspacing: 0;
  --typography-heading-3-textcase: none;
  --typography-paragraph-1-fontsize: 36px;
  --typography-paragraph-1-textdecoration: none;
  --typography-paragraph-1-fontfamily: Mulish;
  --typography-paragraph-1-fontweight: 400;
  --typography-paragraph-1-fontstyle: normal;
  --typography-paragraph-1-fontstretch: normal;
  --typography-paragraph-1-letterspacing: 0;
  --typography-paragraph-1-lineheight: 43.2px;
  --typography-paragraph-1-paragraphindent: 0;
  --typography-paragraph-1-paragraphspacing: 0;
  --typography-paragraph-1-textcase: none;
  --typography-paragraph-2-fontsize: 30px;
  --typography-paragraph-2-textdecoration: none;
  --typography-paragraph-2-fontfamily: Mulish;
  --typography-paragraph-2-fontweight: 400;
  --typography-paragraph-2-fontstyle: normal;
  --typography-paragraph-2-fontstretch: normal;
  --typography-paragraph-2-letterspacing: 0;
  --typography-paragraph-2-lineheight: 36px;
  --typography-paragraph-2-paragraphindent: 0;
  --typography-paragraph-2-paragraphspacing: 0;
  --typography-paragraph-2-textcase: none;
  --typography-title-1-fontsize: 25px;
  --typography-title-1-textdecoration: none;
  --typography-title-1-fontfamily: Mulish;
  --typography-title-1-fontweight: 400;
  --typography-title-1-fontstyle: normal;
  --typography-title-1-fontstretch: normal;
  --typography-title-1-letterspacing: 0;
  --typography-title-1-lineheight: 30px;
  --typography-title-1-paragraphindent: 0;
  --typography-title-1-paragraphspacing: 0;
  --typography-title-1-textcase: none;
  --typography-title-2-fontsize: 21px;
  --typography-title-2-textdecoration: none;
  --typography-title-2-fontfamily: Mulish;
  --typography-title-2-fontweight: 400;
  --typography-title-2-fontstyle: normal;
  --typography-title-2-fontstretch: normal;
  --typography-title-2-letterspacing: 0;
  --typography-title-2-lineheight: 25.2px;
  --typography-title-2-paragraphindent: 0;
  --typography-title-2-paragraphspacing: 0;
  --typography-title-2-textcase: none;
  --typography-body-1-fontsize: 17px;
  --typography-body-1-textdecoration: none;
  --typography-body-1-fontfamily: Mulish;
  --typography-body-1-fontweight: 400;
  --typography-body-1-fontstyle: normal;
  --typography-body-1-fontstretch: normal;
  --typography-body-1-letterspacing: 0;
  --typography-body-1-lineheight: 20.4px;
  --typography-body-1-paragraphindent: 0;
  --typography-body-1-paragraphspacing: 0;
  --typography-body-1-textcase: none;
  --typography-body-2-fontsize: 14px;
  --typography-body-2-textdecoration: none;
  --typography-body-2-fontfamily: Mulish;
  --typography-body-2-fontweight: 400;
  --typography-body-2-fontstyle: normal;
  --typography-body-2-fontstretch: normal;
  --typography-body-2-letterspacing: 0;
  --typography-body-2-lineheight: 16.8px;
  --typography-body-2-paragraphindent: 0;
  --typography-body-2-paragraphspacing: 0;
  --typography-body-2-textcase: none;
  --typography-caption-fontsize: 12px;
  --typography-caption-textdecoration: none;
  --typography-caption-fontfamily: Mulish;
  --typography-caption-fontweight: 700;
  --typography-caption-fontstyle: normal;
  --typography-caption-fontstretch: normal;
  --typography-caption-letterspacing: 0;
  --typography-caption-lineheight: 14.4px;
  --typography-caption-paragraphindent: 0;
  --typography-caption-paragraphspacing: 0;
  --typography-caption-textcase: none;
  --typography-heading-6-fontsize: 62px;
  --typography-heading-6-textdecoration: none;
  --typography-heading-6-fontfamily: Comic Sans MS;
  --typography-heading-6-fontweight: 700;
  --typography-heading-6-fontstyle: normal;
  --typography-heading-6-fontstretch: normal;
  --typography-heading-6-letterspacing: 0;
  --typography-heading-6-lineheight: 74.4px;
  --typography-heading-6-paragraphindent: 0;
  --typography-heading-6-paragraphspacing: 0;
  --typography-heading-6-textcase: none;
  --typography-heading-5-fontsize: 20px;
  --typography-heading-5-textdecoration: none;
  --typography-heading-5-fontfamily: Comic Sans MS;
  --typography-heading-5-fontweight: 700;
  --typography-heading-5-fontstyle: normal;
  --typography-heading-5-fontstretch: normal;
  --typography-heading-5-letterspacing: 0;
  --typography-heading-5-lineheight: 62.4px;
  --typography-heading-5-paragraphindent: 0;
  --typography-heading-5-paragraphspacing: 0;
  --typography-heading-5-textcase: none;
  --typography-heading-4-fontsize: 22px;
  --typography-heading-4-textdecoration: none;
  --typography-heading-4-fontfamily: Comic Sans MS;
  --typography-heading-4-fontweight: 700;
  --typography-heading-4-fontstyle: normal;
  --typography-heading-4-fontstretch: normal;
  --typography-heading-4-letterspacing: 0;
  --typography-heading-4-lineheight: 51.6px;
  --typography-heading-4-paragraphindent: 0;
  --typography-heading-4-paragraphspacing: 0;
  --typography-heading-4-textcase: none;
  --typography-paragraph-4-fontsize: 36px;
  --typography-paragraph-4-textdecoration: none;
  --typography-paragraph-4-fontfamily: Mulish;
  --typography-paragraph-4-fontweight: 500;
  --typography-paragraph-4-fontstyle: normal;
  --typography-paragraph-4-fontstretch: normal;
  --typography-paragraph-4-letterspacing: 0;
  --typography-paragraph-4-lineheight: 43.2px;
  --typography-paragraph-4-paragraphindent: 0;
  --typography-paragraph-4-paragraphspacing: 0;
  --typography-paragraph-4-textcase: none;
  --typography-paragraph-3-fontsize: 30px;
  --typography-paragraph-3-textdecoration: none;
  --typography-paragraph-3-fontfamily: Mulish;
  --typography-paragraph-3-fontweight: 500;
  --typography-paragraph-3-fontstyle: normal;
  --typography-paragraph-3-fontstretch: normal;
  --typography-paragraph-3-letterspacing: 0;
  --typography-paragraph-3-lineheight: 36px;
  --typography-paragraph-3-paragraphindent: 0;
  --typography-paragraph-3-paragraphspacing: 0;
  --typography-paragraph-3-textcase: none;
  --typography-title-4-fontsize: 25px;
  --typography-title-4-textdecoration: none;
  --typography-title-4-fontfamily: Mulish;
  --typography-title-4-fontweight: 500;
  --typography-title-4-fontstyle: normal;
  --typography-title-4-fontstretch: normal;
  --typography-title-4-letterspacing: 0;
  --typography-title-4-lineheight: 30px;
  --typography-title-4-paragraphindent: 0;
  --typography-title-4-paragraphspacing: 0;
  --typography-title-4-textcase: none;
  --typography-title-3-fontsize: 21px;
  --typography-title-3-textdecoration: none;
  --typography-title-3-fontfamily: Mulish;
  --typography-title-3-fontweight: 500;
  --typography-title-3-fontstyle: normal;
  --typography-title-3-fontstretch: normal;
  --typography-title-3-letterspacing: 0;
  --typography-title-3-lineheight: 25.2px;
  --typography-title-3-paragraphindent: 0;
  --typography-title-3-paragraphspacing: 0;
  --typography-title-3-textcase: none;
  --typography-body-4-fontsize: 17px;
  --typography-body-4-textdecoration: none;
  --typography-body-4-fontfamily: Mulish;
  --typography-body-4-fontweight: 500;
  --typography-body-4-fontstyle: normal;
  --typography-body-4-fontstretch: normal;
  --typography-body-4-letterspacing: 0;
  --typography-body-4-lineheight: 20.4px;
  --typography-body-4-paragraphindent: 0;
  --typography-body-4-paragraphspacing: 0;
  --typography-body-4-textcase: none;
  --typography-body-3-fontsize: 14px;
  --typography-body-3-textdecoration: none;
  --typography-body-3-fontfamily: Mulish;
  --typography-body-3-fontweight: 500;
  --typography-body-3-fontstyle: normal;
  --typography-body-3-fontstretch: normal;
  --typography-body-3-letterspacing: 0;
  --typography-body-3-lineheight: 16.8px;
  --typography-body-3-paragraphindent: 0;
  --typography-body-3-paragraphspacing: 0;
  --typography-body-3-textcase: none;
  --typography-heading-9-fontsize: 62px;
  --typography-heading-9-textdecoration: none;
  --typography-heading-9-fontfamily: Comic Sans MS;
  --typography-heading-9-fontweight: 400;
  --typography-heading-9-fontstyle: italic;
  --typography-heading-9-fontstretch: normal;
  --typography-heading-9-letterspacing: 0;
  --typography-heading-9-lineheight: 74.4px;
  --typography-heading-9-paragraphindent: 0;
  --typography-heading-9-paragraphspacing: 0;
  --typography-heading-9-textcase: none;
  --typography-heading-8-fontsize: 52px;
  --typography-heading-8-textdecoration: none;
  --typography-heading-8-fontfamily: Comic Sans MS;
  --typography-heading-8-fontweight: 400;
  --typography-heading-8-fontstyle: italic;
  --typography-heading-8-fontstretch: normal;
  --typography-heading-8-letterspacing: 0;
  --typography-heading-8-lineheight: 62.4px;
  --typography-heading-8-paragraphindent: 0;
  --typography-heading-8-paragraphspacing: 0;
  --typography-heading-8-textcase: none;
  --typography-heading-7-fontsize: 43px;
  --typography-heading-7-textdecoration: none;
  --typography-heading-7-fontfamily: Comic Sans MS;
  --typography-heading-7-fontweight: 400;
  --typography-heading-7-fontstyle: italic;
  --typography-heading-7-fontstretch: normal;
  --typography-heading-7-letterspacing: 0;
  --typography-heading-7-lineheight: 51.6px;
  --typography-heading-7-paragraphindent: 0;
  --typography-heading-7-paragraphspacing: 0;
  --typography-heading-7-textcase: none;
  --typography-paragraph-6-fontsize: 36px;
  --typography-paragraph-6-textdecoration: none;
  --typography-paragraph-6-fontfamily: Mulish;
  --typography-paragraph-6-fontweight: 600;
  --typography-paragraph-6-fontstyle: normal;
  --typography-paragraph-6-fontstretch: normal;
  --typography-paragraph-6-letterspacing: 0;
  --typography-paragraph-6-lineheight: 43.2px;
  --typography-paragraph-6-paragraphindent: 0;
  --typography-paragraph-6-paragraphspacing: 0;
  --typography-paragraph-6-textcase: none;
  --typography-paragraph-5-fontsize: 30px;
  --typography-paragraph-5-textdecoration: none;
  --typography-paragraph-5-fontfamily: Mulish;
  --typography-paragraph-5-fontweight: 600;
  --typography-paragraph-5-fontstyle: normal;
  --typography-paragraph-5-fontstretch: normal;
  --typography-paragraph-5-letterspacing: 0;
  --typography-paragraph-5-lineheight: 36px;
  --typography-paragraph-5-paragraphindent: 0;
  --typography-paragraph-5-paragraphspacing: 0;
  --typography-paragraph-5-textcase: none;
  --typography-title-6-fontsize: 20px;
  --typography-title-6-textdecoration: none;
  --typography-title-6-fontfamily: Mulish;
  --typography-title-6-fontweight: 600;
  --typography-title-6-fontstyle: normal;
  --typography-title-6-fontstretch: normal;
  --typography-title-6-letterspacing: 0;
  --typography-title-6-lineheight: 30px;
  --typography-title-6-paragraphindent: 0;
  --typography-title-6-paragraphspacing: 0;
  --typography-title-6-textcase: none;
  --typography-title-5-fontsize: 21px;
  --typography-title-5-textdecoration: none;
  --typography-title-5-fontfamily: Mulish;
  --typography-title-5-fontweight: 600;
  --typography-title-5-fontstyle: normal;
  --typography-title-5-fontstretch: normal;
  --typography-title-5-letterspacing: 0;
  --typography-title-5-lineheight: 25.2px;
  --typography-title-5-paragraphindent: 0;
  --typography-title-5-paragraphspacing: 0;
  --typography-title-5-textcase: none;
  --typography-body-6-fontsize: 17px;
  --typography-body-6-textdecoration: none;
  --typography-body-6-fontfamily: Mulish;
  --typography-body-6-fontweight: 600;
  --typography-body-6-fontstyle: normal;
  --typography-body-6-fontstretch: normal;
  --typography-body-6-letterspacing: 0;
  --typography-body-6-lineheight: 20.4px;
  --typography-body-6-paragraphindent: 0;
  --typography-body-6-paragraphspacing: 0;
  --typography-body-6-textcase: none;
  --typography-body-5-fontsize: 14px;
  --typography-body-5-textdecoration: none;
  --typography-body-5-fontfamily: Mulish;
  --typography-body-5-fontweight: 600;
  --typography-body-5-fontstyle: normal;
  --typography-body-5-fontstretch: normal;
  --typography-body-5-letterspacing: 0;
  --typography-body-5-lineheight: 16.8px;
  --typography-body-5-paragraphindent: 0;
  --typography-body-5-paragraphspacing: 0;
  --typography-body-5-textcase: none;
  --typography-heading-12-fontsize: 62px;
  --typography-heading-12-textdecoration: none;
  --typography-heading-12-fontfamily: Comic Sans MS;
  --typography-heading-12-fontweight: 700;
  --typography-heading-12-fontstyle: italic;
  --typography-heading-12-fontstretch: normal;
  --typography-heading-12-letterspacing: 0;
  --typography-heading-12-lineheight: 74.4px;
  --typography-heading-12-paragraphindent: 0;
  --typography-heading-12-paragraphspacing: 0;
  --typography-heading-12-textcase: none;
  --typography-heading-11-fontsize: 52px;
  --typography-heading-11-textdecoration: none;
  --typography-heading-11-fontfamily: Comic Sans MS;
  --typography-heading-11-fontweight: 700;
  --typography-heading-11-fontstyle: italic;
  --typography-heading-11-fontstretch: normal;
  --typography-heading-11-letterspacing: 0;
  --typography-heading-11-lineheight: 62.4px;
  --typography-heading-11-paragraphindent: 0;
  --typography-heading-11-paragraphspacing: 0;
  --typography-heading-11-textcase: none;
  --typography-heading-10-fontsize: 43px;
  --typography-heading-10-textdecoration: none;
  --typography-heading-10-fontfamily: Comic Sans MS;
  --typography-heading-10-fontweight: 700;
  --typography-heading-10-fontstyle: italic;
  --typography-heading-10-fontstretch: normal;
  --typography-heading-10-letterspacing: 0;
  --typography-heading-10-lineheight: 51.6px;
  --typography-heading-10-paragraphindent: 0;
  --typography-heading-10-paragraphspacing: 0;
  --typography-heading-10-textcase: none;
  --typography-paragraph-8-fontsize: 36px;
  --typography-paragraph-8-textdecoration: none;
  --typography-paragraph-8-fontfamily: Mulish;
  --typography-paragraph-8-fontweight: 700;
  --typography-paragraph-8-fontstyle: normal;
  --typography-paragraph-8-fontstretch: normal;
  --typography-paragraph-8-letterspacing: 0;
  --typography-paragraph-8-lineheight: 43.2px;
  --typography-paragraph-8-paragraphindent: 0;
  --typography-paragraph-8-paragraphspacing: 0;
  --typography-paragraph-8-textcase: none;
  --typography-paragraph-7-fontsize: 30px;
  --typography-paragraph-7-textdecoration: none;
  --typography-paragraph-7-fontfamily: Mulish;
  --typography-paragraph-7-fontweight: 700;
  --typography-paragraph-7-fontstyle: normal;
  --typography-paragraph-7-fontstretch: normal;
  --typography-paragraph-7-letterspacing: 0;
  --typography-paragraph-7-lineheight: 36px;
  --typography-paragraph-7-paragraphindent: 0;
  --typography-paragraph-7-paragraphspacing: 0;
  --typography-paragraph-7-textcase: none;
  --typography-title-8-fontsize: 25px;
  --typography-title-8-textdecoration: none;
  --typography-title-8-fontfamily: Mulish;
  --typography-title-8-fontweight: 700;
  --typography-title-8-fontstyle: normal;
  --typography-title-8-fontstretch: normal;
  --typography-title-8-letterspacing: 0;
  --typography-title-8-lineheight: 30px;
  --typography-title-8-paragraphindent: 0;
  --typography-title-8-paragraphspacing: 0;
  --typography-title-8-textcase: none;
  --typography-title-7-fontsize: 21px;
  --typography-title-7-textdecoration: none;
  --typography-title-7-fontfamily: Mulish;
  --typography-title-7-fontweight: 700;
  --typography-title-7-fontstyle: normal;
  --typography-title-7-fontstretch: normal;
  --typography-title-7-letterspacing: 0;
  --typography-title-7-lineheight: 25.2px;
  --typography-title-7-paragraphindent: 0;
  --typography-title-7-paragraphspacing: 0;
  --typography-title-7-textcase: none;
  --typography-body-8-fontsize: 17px;
  --typography-body-8-textdecoration: none;
  --typography-body-8-fontfamily: Mulish;
  --typography-body-8-fontweight: 700;
  --typography-body-8-fontstyle: normal;
  --typography-body-8-fontstretch: normal;
  --typography-body-8-letterspacing: 0;
  --typography-body-8-lineheight: 20.4px;
  --typography-body-8-paragraphindent: 0;
  --typography-body-8-paragraphspacing: 0;
  --typography-body-8-textcase: none;
  --typography-body-7-fontsize: 14px;
  --typography-body-7-textdecoration: none;
  --typography-body-7-fontfamily: Mulish;
  --typography-body-7-fontweight: 700;
  --typography-body-7-fontstyle: normal;
  --typography-body-7-fontstretch: normal;
  --typography-body-7-letterspacing: 0;
  --typography-body-7-lineheight: 16.8px;
  --typography-body-7-paragraphindent: 0;
  --typography-body-7-paragraphspacing: 0;
  --typography-body-7-textcase: none;
}